{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>About</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="jumbotron">
        <h1 class="text-center">What is project name?</h1>
        <hr>
        <p>
          Project name is a project made for Oakland Tech's 2019 Capstone class by Clemente Ferrer.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <h1 class="text-center">What is Money?</h1>
        <hr>
        <p>
          Against all logic, money on this website is invaluable. You get 10
          currency per week and can give it to whoever you want for whatever
          reason you want. Both the sender and receiver get an equal amount of
          reputation for a transaction.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron">
        <h1 class="text-center">What is Reputation?</h1>
        <hr>
        <p>
          You get one reputation for every currency you send or recieve. If you
          send your friend 10 currency, you both get 10 reputation. Reputation
          has real value and can be redeemed.
          <br /><br />
          In other words, reputation = money given + money received
        </p>
      </div>
    </div>
  </div>
{% endblock %}
