{% extends "base.html" %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class=" col-md-4">
      <div class="jumbotron text-center">
        <img class="rounded mx-auto d-block" src={{image}} />
        <h3>{{name}}</h3>
        <h4>Wallet: {{wallet}}</h4>
        <h4>Reputation: {{reputation}}</h4>
      </div>
    </div>
    <div class="col-md-8">
      <div class="jumbotron">
        <h1>Give</h1>
        <form method=post>
          {{ form.hidden_tag() }}
          {{ form.recipient.label }}
          {{ form.recipient() }}
          <br />
          {{ form.amount.label }}
          {{ form.amount() }}
          <br />
          {{form.submit()}}
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
